@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
   text-decoration: none;
   color: dodgerblue;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.8em;
}

.navigation a{
    color: dodgerblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: #601CFC;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(https://media.istockphoto.com/photos/low-poly-black-background-picture-id595734386?k=20&m=595734386&s=170667a&w=0&h=0vEw9VjFtsfh5LGQm8Jdofg5CYmd7jpPhmJmnis-2qM=) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block ;
    margin-top: 10px;
    color: dodgerblue;
    font-size: 2em ;
    font-weight: 600 ;
}
.main h3{
    color: white;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
}
.main-btn:hover{
    background-color: rgb(4, 112, 219);
    transform: scale(1.05);
    transition: 0.7s ease;
}
.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: dodgerblue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(124, 124, 124, 0.514);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 00.7s ease;
}
.card:hover{
    transform: scale(1.1);
    
}
.icon{
    text-align: center;
    color: dodgerblue;
    font-size: 5em;
}
.info{
    text-align: center;
}
.info h3{
    color: dodgerblue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}